.cases h1 {
  font: 1em "Poppins";
  padding: 20px 0;
}
.cases h3 {
  font: 200 1em "Poppins";
  color: #969595;
  padding: 15px 0 5px;
}
.cases h2 {
  font: 200 1.3em "Poppins";
}
.cases h4 {
  font: 200 1em "Poppins";
}
.cases p {
  font: 200 1em "Poppins";
  padding: 20px 0 40px;
}
.cases img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .case {
    width: 30%;
  }
  .casesDesktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
}
